.passwordtext{
  @extend .clearfix;
  padding-left: 15px;
  font-size: 14px;
  .rightDiv {
    float: right;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .imgMiddle{
    float: right;
    width:3em;
    padding-top: 5px;
    display:table;
    text-align:center;
  }
  .imgMiddle>span{
    display:table-cell;
    vertical-align:middle;
  }
  .passwordTextDiv {
    float: left;
    width: 84%;
  }
  .title{
    margin-top: 5px;
    color: black;
    display: inline-block;
  }
  .passwordTextBox {
    margin-left: 5px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color:rgba(0,0,0,0) ;
    width: 69%;
  }

}