.banklist{
  background-color: #FFFFFF;
  .header{
    text-align: center;
    height:60px;
    line-height: 60px;
    color: #000;  
    background-color: #F9FCFE;
    border-bottom: 1px solid #E6E6E6;  
  }

  .bankfooter{
    text-align: center;
    height:50px;
    line-height: 50px;
    font-size: 18px;
    color: #000;  
    background-color: #F9FCFE;
    border-top: 1px solid #E6E6E6;
    position: fixed;
    bottom: 0px;
    left: 0px;    
    width: 100%;  
  }
  .bankitemsheader{
    text-align: center;
    .bankitem{
      background-color: #F5F5F5; 
    }
    .bankname{
      display: inline-block;
      width: 40%;
      height:40px;
      line-height: 40px;
    }
    .amount{
      display: inline-block;
      width: 30%;
      height:40px;
      line-height: 40px;      
    }
    .dailyamount{
      display: inline-block;
      width: 30%;
      height:40px;
      line-height: 40px;      
    }
  }
  .bankitems{
    text-align: center;
    .bankitem:nth-child(even){
      background-color: #F5F5F5;      
    }
    .bankitem:nth-child(odd){
      background-color: #FFF;
    }     
    .bankname{
      display: inline-block;
      width: 40%;
      height:40px;
      line-height: 40px;
      padding-left: 10px;
      text-align: left;     
    }
    .amount{
      display: inline-block;
      width: 30%;
      height:40px;
      line-height: 40px; 
      text-align: right;     
    }
    .dailyamount{
      display: inline-block;
      width: 30%;
      height:40px;
      line-height: 40px;      
      text-align: right; 
      padding-right: 10px;    
    }
  }
  .bankicon{
    width: 16px;
    vertical-align: top;
    margin-top: 12px;
    margin-right: 5px;
  }

}