.register{
  background-color: #ededf2;
  &>img{
    width:100%;
  }
  .center_input_first{
    margin-top: 10px;
    padding:7px 0px 7px 0px;
    border-top:1px solid $borderColor;
    border-bottom:1px solid $borderColor;
    background: white;
  }
  .center_input{
    padding:7px 0px 7px 0px;
    border-top:1px solid $borderColor;
    border-bottom:1px solid $borderColor;
    background: white;
    margin-bottom: 10px;
  }
  .redTiShi{
    color: red;
    font-size: 12px;
    margin-left: 15px;
  }
  .checkboxStyle{
    width:20px;
    height:20px;
    display:inline-block;
    margin-left: 10px;
    margin-right: 5px;
  }
  .protocolStyle{
    font-size:13px;
    display:inline-block;
    position:absolute;
    .aStyle{
      text-decoration:none;
      color: $blueAColor;
    }
  }
  .buttonlink{
    text-align: center;
    padding: 20px;
  }
  .link{
    color: #3FA9F5;
  }
  .button{
    padding:15px;
  }
}