.bidResult{
	background-color: #efeff4;
	.resultTitle{
		border-bottom: 1px solid #e5e5e5;
		padding: 30px 0;
    text-align: center;
		.icon{
      display: block;
      width: 70px;
      height: 70px;
      background-repeat: no-repeat;
      background-size: 70px auto;
      margin: 0 auto 10px;
    }
    p{
      font-size: 14px;
      color: #abacaf;
      line-height: 20px;
    }
    p:nth-child(2){
      font-size: 18px;
      color: #3d4449;
      margin-bottom: 6px;
    }
    .succsss{
      .icon{
        background-image: url(/images/h5/icon_tz_success.png);
      }
    }
    .process{
      .icon{
        background-image: url(/images/h5/icon_tz_ing.png);
      }
    }
    .fail{
      .icon{
        background-image: url(/images/h5/icon_tz_fail.png);
      }
    }
	}

  .investInfo{
   li{
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    padding: 0 15px;
    background-color: #fff;
    span:nth-child(1){
      float:left;
      color: #abacaf;
    }
    span:nth-child(2){
      float:right;
      color: #3d4449;
    }
   }
  }

  .btn01{
    width: 92%;
    margin: 0 auto;
    background-color: #fff;
    font-size: 15px;
    color: #2790fb;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
  }

  .btn02{
    width: 92%;
    margin: 0 auto;
    background-color: #27a5fe;
    font-size: 15px;
    color: #fff;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
  }

}