.bidCoupon{
  background-color: #ededf2;
	.couponList{
    background-color: #fff;
    padding-left: 15px;
    margin-bottom: 10px;
    li{
      border-bottom: 1px solid #e4e4e4;
      position: relative;
    }
    li:nth-last-child(1){
      border-bottom: none;
    }
    .couponInfo{
      padding: 8px 0 8px 25px;
      position: relative;
      p:nth-child(1){
        font-size:15px;
        color: #3d4449;
      }
      p:nth-child(2){
        font-size:14px;
        color: #868b90;
      }
      p:nth-child(3){
        font-size:13px;
        color: #abacaf;
      }
    }
    .couponInfo:before{
      content: '券';
      position: absolute;
      left: 0;
      top: 9px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border:1px solid #f6626b;
      color: #f6626b;
      font-size: 12px;
      text-align: center;
      line-height: 18px
    }
  }
  .icon{
    position: absolute;
    right: 15px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-size: 20px auto;
    background-repeat: no-repeat;
  }
  .choose{
    background-image: url(/images/h5/icon_choose.png);
  }
  .lcj{
    background-color: #fff;
    height: 76px;
    line-height: 76px;
    font-size: 15px;
    color: #ccc;
    position: relative;
    .lcjAmount{
      padding-left:40px;
    }
    .lcjAmount:before{
      content: '金';
      position: absolute;
      left: 15px;
      top: 50%;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      border-radius: 50%;
      border:1px solid #fd9f45;
      color: #fd9f45;
      font-size: 12px;
      text-align: center;
      line-height: 18px
    }
  }
}
