.bidInfo{
	width:100%;
	background-color:#ededf2;

	.investInfo{
		background-color:#1480da;
    color: #fff;
    padding: 24px 0;
		.left,.right{
			float: left;
      width: 50%;
      text-align: center;
      font-size: 15px;
		}
    .left p:nth-child(1),.right>div:nth-child(1){
      margin-bottom: 5px;
    }
    .left span:nth-child(1){
      font-size: 44px;
    }
    .in_color{
      color: #8cc4f5; 
    }
	}

  .investItem{
    background-color:#fff;
    padding:18px 0;
    .box:nth-child(1){
      margin-bottom: 14px;
    }
    .left,.right{
      float: left;
      width: 50%;
      text-align: center;
      font-size:15px;
      position: relative;
    }
    .left div:nth-child(1),.right div:nth-child(1){
      color: #3d4449; 
      margin-bottom: 3px;
    }
    .left div:nth-child(2),.right div:nth-child(2){
      color: #abacaf; 
    }
    .left:after{
      content: '';
      width: 1px; 
      height: 38px;
      background-color:#e2e2e2;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -19px;
    }
  }

  .productTips{
    width: 100%;
    background-color:#fff;
    height: 44px;
    line-height: 44px;
    padding:0 15px;
    color: #868b90;
    font-size: 14px;
    margin: 10px 0;
    .tip{
      display: inline-block;
      margin-right: 15px;
    }
    img{
      width: 52px;
      display: inline-block;
      vertical-align: top;
      margin-top: 11px;
      margin-right: 10px;
    }
  }

  .incomingTos{
    padding:10px 15px;
    border-bottom:1px solid #ddd;
    background-color:#fff;
    color: #27adfc;
    font-size: 14px;
    position:relative;
    i{
      display: inline-block;
      width: 15px;
      height: 15px;
      position:absolute;
      left: 15px;
      top: 11px;
      background-image:url(/images/h5/iocn_fd.png);
      background-size:15px auto;
      background-repeat:no-repeat;
    }
    span{
      display: inline-block;
      line-height: 18px;
      padding-left:20px;
    }
  }

  // common部分
  .itemTitle{
    height: 44px;
    line-height: 44px;
    padding:0 15px;
    background-color:#fff;
    border-bottom:1px solid #ddd;
    color: #ff6633;
    font-size: 16px;
    i{
      display: inline-block;
    }
  }
  .main{
    padding: 0 15px;
  }
  .box {
    border-bottom:1px solid #ddd;
    padding-bottom:10px;

    .title{
      height: 40px;
      line-height: 40px;
      font-size: 15px;
      color: #3d4449;
    }
    .left,.right{
      float: left;
      width: 50%;
      p{
        line-height: 26px;
      }
      p>span:nth-child(1){
        font-size: 14px;
        color: #868b90;
        width: 42%;
        display: inline-block;
      }
      p>span:nth-child(2){
        font-size: 14px;
        color: #3d4449;
        width: 58%;
        display: inline-block;
      }
    }
  }
  .box:nth-last-child(1){
    border-bottom:none;
  }
  .display{
    display: none; 
  }

  // 项目介绍
  .bidIntroduction{
    background-color:#fff;
    margin-bottom: 10px;
    .itemTitle{
      i{
        width: 18px;
        height: 18px;
        background-image:url(/images/h5/iocn_xmxx.png);
        background-size:18px auto;
        background-repeat:no-repeat;
        margin-right: 5px;
        vertical-align: top;
        margin-top: 13px;
      }
    }
    .boxItem p span:nth-child(1){
      display: inline-block;
      font-size: 14px;
      width: 21%;
      color: #868b90;
    }
    .boxItem p span:nth-child(2){
      display: inline-block;
      font-size: 14px;
      width: 79%;
      color: #3d4449;
    }
    .productIntro{
      p{
        line-height: 22px;
        word-break:break-all;
      }
      &>p:nth-child(1){
        margin-bottom: 15px;
      }
    }
    .returnPlan{
      width: 100%;
      font-size: 14px;
      color: #868b90;
      table{
        width: 100%;
        margin-bottom:5px;
        tr{
          height: 35px;
          line-height: 35px;
          td:nth-child(1){
            width: 40%;
          }
          td:nth-child(2){
            width: 20%;
            text-align: center
          }
          td:nth-child(3){
            width: 40%;
            text-align: right;
          }
        }
        tbody{
          color: #abacaf;
          tr{
            td:nth-child(1){
              padding-left:5px;
            }
            td:nth-child(3){
              padding-right:5px;
            }
          }
          tr:nth-child(odd){
            background-color:rgba(39,173,252,0.05);
          }
        }
      }
      .returnPlanTips{
        border-top:1px solid #ddd;
        font-size: 14px;
        color: #868b90;
        line-height: 24px;
        div:nth-child(1){
          color: #27adfc;
          margin:10px 0 4px;
        }
      }
    }
  }

  // 融资方信息
  .bidInformation{
    background-color:#fff;
    margin-bottom: 10px;
    .itemTitle{
      i{
        width: 18px;
        height: 18px;
        background-image:url(/images/h5/icon_xmms.png);
        background-size:18px auto;
        background-repeat:no-repeat;
        margin-right: 5px;
        vertical-align: top;
        margin-top: 13px;
      }
    }
    .info{
      color: #868b90;
      margin:10px 0;
    }
    .image{
      background-color:#f8f8f8;
      img{
        width: 60%;
        display: block;
        margin:0 auto;
      }
    }
  }

  //风险措施
  .bidRiskInfo{
    background-color:#fff;
    margin-bottom: 10px;
    .itemTitle{
      i{
        width: 18px;
        height: 18px;
        background-image:url(/images/h5/iocn_fxcs.png);
        background-size:18px auto;
        background-repeat:no-repeat;
        margin-right: 5px;
        vertical-align: top;
        margin-top: 13px;
      }
    }
    .pic{
      img{
        width: 100%;
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  // 投资按钮
  .btnInvest{
    background-color:#f7f7f7;
    padding:10px 0;
    position:fixed;
    left: 0;
    bottom:0;
    width: 100%;
    border-top:1px solid #eaeaea;
    .btnStatus1{
      width: 93%;
      height: 45px;
      line-height: 45px;
      background-color:#ff6633;
      color: #fff;
      text-align: center;
      border:none;
      margin:0 auto;
      display: block;
      font-size: 16px;
      border-radius:5px;
    }
    .btnStatus2,.btnStatus3{
      text-align: center;
      color: #3d4449;
      font-size: 16px;
      line-height: 45px;
      height: 45px;
      label,span{
        display: inline-block;

      }
      span{
        color: #abacaf;
        font-size: 14px;
        padding-right:3px;
      }
      span:nth-child(even){
        color: #ff6633;
        font-size: 18px;
      }
    }
    .btnStatus4{
      text-align: center;
      color: #868b90;
      font-size: 18px;
      height: 45px;
      line-height: 45px;
    }
    .btnStatus5,.btnStatus6{
      padding: 0 15px;
      height: 45px;
      input{
        width: 63%;
        border:1px solid #dddddd;
        border-radius:5px;
        height: 45px;
        line-height: 45px;
        padding: 0 5px;
        font-size: 16px;
      }
      .invest{
        display: inline-block;
        width: 32%;
        height: 45px;
        line-height: 45px;
        background-color:#ff6633;
        color: #fff;
        text-align: center;
        font-size: 16px;
        border-radius:5px;
        margin-left: 5%;
      }
    }
    .btnStatus6 {
      .tips{
        width: 63%;
        text-align: center;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        color: #868b90;
        font-size: 14px;
        .tipsColor{
          color:#ff6633;
        }
      }
    }
  }

  //投资的弹框
  .bidInvest{
    display:none;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    left: 0;
    top: 0;
    z-index: 11;
    .investTips{
      margin-bottom: 10px;
      .left:after{
        content:'';
        width: 1px;
        height: 30px;
        position:absolute;
        right: 0;
        top:50%;
        margin-top: -15px;
        background-color:#ddd;
      }
      .left,.right{
        position:relative;
        float: left;
        width: 50%;
        text-align: center;
        line-height: 25px;
        p:nth-child(1){
          font-size: 14px;
          color: #aeafb2;
        }
        p:nth-child(2){
          font-size: 16px;
          color: #3d4449;
        }
      }
    }

    .item {
      margin-bottom: 10px;
      li{
        width: 100%;
        height: 45px;
        line-height: 45px;
        background-color:#fff;
        border-bottom:1px solid #ddd;
        padding:0 15px;
        font-size: 15px;
        color: #868b90;
        span:nth-child(1){
          float:left;
          position:relative;
          display: inline-block;
          padding-left:25px;
        }
        span:nth-child(2){
          float:right;
          position:relative;
          display: inline-block;
          padding-right:12px;
        }
        span.i4{
          color: #ff6633;
          padding-right:0;
        }
      }
      li:nth-last-child(1){
        border-bottom:1px solid #e4e4e4;
      }
      .i1:before{
        content: '';
        position:absolute;
        left: 0;
        top: 13px;
        width: 18px;
        height: 18px;
        background-image:url(/images/h5/iocn_yh.png);
        background-repeat:no-repeat;
        background-size:18px auto;
      }
      .i2{
        color: #3d4449;
      }
      .i2:after{
        content: '';
        position:absolute;
        right: 0;
        top:17px;
        width: 10px;
        height: 10px;
        border:1px solid #9e9ea4;
        border-bottom:none;
        border-left:none;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
      }
      .i3:before{
        content: '';
        position:absolute;
        left: 0;
        top: 13px;
        width: 18px;
        height: 18px;
        background-image:url(/images/h5/iocn_jsq.png);
        background-repeat:no-repeat;
        background-size:18px auto;
      }
    }
  }

  //投资前准备
  .bidInvestReady{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    left: 0;
    top: 0;
    z-index: 11;
    .readyMain{
      width: 100%;
      background-color:#fff;
      position:fixed;
      left: 0;
      bottom:0;
      .title{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        color: #3d4449;
        position:relative;
        .close{
          position:absolute;
          left: 0;
          top:0;
          width: 50px;
          height: 50px;
        }
        .close:before{
          content: '';
          position:absolute;
          left: 50%;
          top: 50%;
          width: 18px;
          height: 18px;
          margin-left: -9px;
          margin-top: -9px;
          background-image:url(/images/h5/popup_btn_close.png);
          background-repeat: no-repeat;
          background-size: 18px auto;
        }
      }

      .readyList{
        padding:50px 0 60px;
        li{
          width: 33.3333%;
          text-align: center;
          font-size: 15px;
          color: #3d4449;
          float: left;
          i{
            display: block;
            width: 65px;
            height: 65px;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: 65px auto;
          }
          p{
            margin-top: 12px;
          }
          p:nth-child(3){
            color: #ff6633;
            font-size: 12px;
          }
        }
        .realName{
          i{
            background-image: url(/images/h5/icon_smrz_undone.png);
          }
        }
        .realNameDone{
          i{
            background-image: url(/images/h5/icon_smrz_done.png);
          }
          p:nth-child(3){
            color: #abacaf;
          }
        }
        .addBank{
          i{
            background-image: url(/images/h5/icon_bk_undone.png);
          }
        }
        .addBankDone{
          i{
            background-image: url(/images/h5/icon_bk_done.png);
          }
          p:nth-child(3){
            color: #abacaf;
          }
        }
        .openTTJ{
          i{
            background-image: url(/images/h5/icon_ttj_undone.png);
          }
        }
        .openTTJDone{
          i{
            background-image: url(/images/h5/icon_ttj_done.png);
          }
          p:nth-child(3){
            color: #abacaf;
          }
        }
      }

      .btn_ok{
        width: 90%;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        background-color: #27adfc;
        margin: 0 auto;
        border-radius: 3px;
      }

      .protocol{
        text-align: center;
        font-size: 12px;
        padding: 15px 0;
        span:nth-child(2){
          color:#27adfc;
        };
      }
    }   
  }

  //服务协议的弹框
  .agreementPopup{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 22;
    .agreementMain{
      width: 96%;
      position: fixed;
      left: 2%;
      bottom: 0;
      margin:0 auto 10px;
      text-align: center;
      color: #037AFF;
      ul{
        background-color: #fff;
        border-radius: 3px;
        margin-bottom: 10px;
                li{
          line-height: 45px;
          height: 45px;
          border-bottom: 1px solid #ddd;
          a{
            display: block;
            color: #037AFF;
          }
        }
        li:nth-last-child(1){
          border-bottom: none;
        }
      }
      .btn_cancel{
        width:100%;
        height: 45px;
        line-height: 45px;
        background-color: #fff;
        border-radius: 3px;
      }
    }
  }


}