<!DOCTYPE html>
<html>
<head >
  <title><%= typeof title === 'undefined' ? '赚米吧': title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <script type="text/javascript">
    window.onload = function(){
      document.getElementsByTagName('html')[0].style.cssText="font-size:" + document.body.clientWidth/375 * 62.5 +"%;";
    }
  </script>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">

</head>
<body>
<header id="header">
  <%- typeof headerData === 'undefined'?'':headerData %>
</header>
<div id="container">
  <div class="hezuoshanghu">
    <img src="https://cbu01.alicdn.com/cms/upload/2013/819/626/1626918_534323593.png" />
    <img src="http://misc.360buyimg.com/lib/img/e/logo-201305.png" />
    <img src="https://www.baidu.com/img/baidu_jgylogo3.gif" />
    <img src="http://misc.360buyimg.com/lib/img/e/logo-201305.png" />
    <img src="https://cbu01.alicdn.com/cms/upload/2013/819/626/1626918_534323593.png" />
  </div>
</div>
</body>
<script><%- typeof stateData === 'undefined'?'':stateData%></script>

<!-- build:js -->
<!-- <script type="text/javascript" src="/bundle.js"></script> -->
<!-- endbuild -->
</html>