<!DOCTYPE html>
<html>
<head >
  <title><%= typeof title === 'undefined' ? '赚米吧': title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <script type="text/javascript">
    window.onload = function(){
      document.getElementsByTagName('html')[0].style.cssText="font-size:" + document.body.clientWidth/375 * 62.5 +"%;";
    }
  </script>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">

</head>
<body>
<header id="header">
  <%- typeof headerData === 'undefined'?'':headerData %>
</header>
<div id="container">
  <div class="ruhezhuanqian">
    <div class="title">
      平台常见问题集合
    </div>
    <div class="title-x">
      平台账号常见问题，请仔细阅读完方可继续完成任务，否则做任务不合格会有封号风险。
    </div>
    <div class="title-x">
      新手篇：
    </div>
    <div class="title-xx">
      1、 赚米吧兼职平台是做什么的？
    </div>
    <div>
      本平台是一个做手机网络兼职的正规平台。做任务，拿佣金，简单靠谱。主要针对微信中常见的投票拉票推广活动、公司文案策划推广、调查问卷收集、网站注册任务、app下载推广任务，根据任务的要求实际操作后截屏上传，上传后默认给佣金，我们会在发工资之前商家和我们官方客服双重严格审核做单图片，如果有恶意作弊或者投机取巧的将账户清理永久锁定。
    </div>
    <div class="title-xx">
      2、 需要我缴付押金之类的吗？
    </div>
    <div>
      本平台是完全免费开放的兼职平台，不需要垫付任何形式的费用。一切所谓的会费都是骗人的，请不要相信，您只需在平台注册账号，有手机有微信号，就可以领取任务赚取佣金。
    </div>
    <div class="title-xx">
      3、 具体操作流程是怎样的？做这个兼职有什么条件吗？
    </div>
    <div>
      兼职条件：有至少一部能上网的手机，有至少一个能正常使用的微信号，有想要做兼职赚钱的想法。
    </div>
    <div class="title-xx" style="color: red;">
      4、赚钱流程
    </div>
    <div>
      4.1 从app中免费注册账号
    </div>
    <div>
      4.2 从任务广场中领取任务
    </div>
    <div>
      4.3 根据任务详情中的操作步骤完成任务
    </div>
    <div>
      4.4 根据任务详情中的提示提交任务截图
    </div>
    <div>
      4.5 领佣金：按照要求做完任务，截图上传，佣金自动到账。发工资之前会审核所有上传图片，如果不合格账户清零，违规严重者永久锁定。
    </div>
    <div class="title-xx" style="color: red;">
      5、工资如何结算？
    </div>
    <div>
      5.1 注册投票平台账号需要绑定微信号。提现后由平台统一支付。绑定方法：关注微信公众号menggongchang99 回复：tp 点击弹出的立即绑定，输入注册的邮箱账号和密码就可以绑定成功。（注意不是手机号或者QQ号是你刚才注册平台的时候填写的邮箱账号）
    </div>
    <div>
      5.2 所有账号前两次提现限额1元以上。从第三次提现开始限额5元以上
    </div>
    <div>
      5.3 提现方式：登录平台账号，在账户详情中有提现按钮。点击提现后会出现网页成功提示。咱们是隔天支付，如果是晚上12点之前提现，将会在第二天的晚上12点之前到账。
    </div>
    <div>
      5.4 注意：只有有效的任务才会正常派发佣金。如果任务不合格，相应的佣金也会被扣掉。如果提现金额和到账基恩不一致，请查看被投诉任务，是一万有不合格的任务导致相应佣金被扣。
    </div>
    <div class="title-xx">
      6、 绑定微信号，在投票平台做任务，有什么风险吗？
    </div>
    <div>
      您在兼职平台做任务，不需要支付任何费用。也不会有任何风险。
    </div>
    <div>
      绑定微信号是为了给您支付佣金。平台仅仅知道您的微信账号，并不会给您造成任何不安全的隐患，打个比方，您的朋友给您支付钱款，需要您的银行卡号，但是只知道您的卡号不知道密码并不能取走您卡中的现金。请大家放心做任务，安心得工资
    </div>
    <div class="title-xx">
      7、做任务有没有时间限制？
    </div>
    <div>
      投票平台每天24小时开放，全年无休。24小时 *365天无间歇。您什么时间方便都可以做。平均一个任务耗费的时间不超过1分钟。简单方便不耗时。
    </div>
    <div>
      坐公交的时候、等车的时候、吃饭的时候、休息的时候······想什么时候做就什么时候做。只要任务有效完成，即可拿到任务相应佣金,注意单个任务时间不要超过10分钟，否则系统自动回收。
    </div>
    <div class="title-x">
      老手篇：
    </div>
    <div class="title-xx">
      8、如果任务做错被投诉，会有什么后果？
    </div>
    <div>
      偶尔做错只会被投诉，对应佣金不发放，对于特别严重的行为将给予封号处理，如果当天做错任务超过2个或者更多会多倍扣除佣金。如果恶意作弊、投机取巧，修剪样图则永久封号。
    </div>
    <div>
      因为平台任务过多，账号偶尔做错或者提交有误，可以理解，错误任务会被平台检测并投诉。投诉详情会在 任务中心——被投诉的任务 列表中看到
    </div>
    <div>
      一旦账号被系统检测出作弊行为，会立即被封：账号无法登陆，提现无法到账。作弊的两个账号会同时被封。
    </div>
    <div class="title-xx">
      9、为什么账号被封了？能不能解封？
    </div>
    <div>
        系统判定作弊、封号情况：
    </div>
    <div>
      9.1 两个以上账号上传互相抄袭同一个任务图片：系统检测严格，企图作弊请绕道
    </div>
    <div>
      9.2 上传样图：每个任务都会有成功样图提示，仅为做任务的参考图。不要把样图（或修改后的样图）下载重复上传到平台，一样会被检测封号。
    </div>
    <div>
      9.3 乱传图：用同一张或者几张图片上传所有任务；截图与任务完全不对照，均被视为乱传图。一旦发现，封号处理。
    </div>
    <div class="title-xx">
      10、为什么我提现了却没有到账？
    </div>
    <div>
      关注微信公众号以后，不要取消关注，保持绑定账号，就可以正常收到佣金，如果不小心误取消关注了公众号，可重新关注公众号即可。如果最后没有到账请登录平台检查，查看被投诉的任务，如果提现金额最终被扣款低于一元平台将不能成功支付会把提现金额退回你的账号，下次重新提现即可。
    </div>
    <div class="title-xx">
      11、为什么投票的时候会出现投票繁忙的情况？
    </div>
    <div>
      微信提示繁忙一般出现是因为微信使用的比较短，或者同一个WiFi下投票的人过多，或者做此类任务比较多导致，建议使用其他WiFi，以及使用微信聊天开通微信支付等功能，一般此类情况出现三到四天就会消失。平时多用用微信，发个朋友圈，多活跃一下就不会出现这样的情况了。或者多备用一部手机多申请几个微信号交替轮换着用。还可以绑定自己经常用的QQ号，保持在线时间比较长一些也会减少提示繁忙的几率，同时如果遇到此类型的投票可以隐藏了任务先不做，换其他类型的任务做，或者把任务交给其他能做的人做，然后你再把截屏上传也可以。建议多申请几个微信号，如果有多部手机更好，方便做更多的任务，单个微信号每天可做的任务有限制，建议一个微信号做任务不超过30个，多个微信之间轮换做任务（建议多部手机），申请的多个微信号要有头像，并且头像不一样，平时多用微信聊聊天，最好开通微信支付，这样做的任务就会比较多（淘宝上可以购买，也可以在淘宝上咨询微信多开，可同时登陆多个微信号方便做任务，新申请的微信号不要立马做任务，要先养一周以上的时间再做任务）投票的时候提示投票繁忙（MP类型） ，可以先隐藏掉这个类型的任务，以后简单此类任务不用做直接隐藏。换其他类型的任务做就行了.
    </div>
    <div class="title-xx">
      12、为什么有的任务我做的对，还要投诉我？
    </div>
    <div>
      做任务的是请仔细阅读任务要求，有的是需要拼图，有的是需要露出手机号，如果没有认真审题肯定会被投诉，比如MP类型的投票就需要把打开投票链接以后勾选投手的界面截屏一次，投成功后截屏一次，拼图上传，否则无佣金，到头来白忙活，不会拼图的去应用市场搜索美图贴贴APP，用它拼图很方便
    </div>
    <div class="title-xx">
      13、平台里的注册任务、绑卡任务或者下载任务安全么？我该怎么做？
    </div>
    <div>
        推荐大家自己多申请一个手机号，用来平时做注册任务接受短信验证码用，还有绑定银行卡的任务，如果想安心做可以自己申请一个空的银行卡里面不要放钱去做注册任务，还有一些下载任务，建议大家自己多准备一个做任务的手机，这个任务就是用来做注册和下载，很便宜的那种几百块钱的手机即可，随便做也不会出现安全问题。注册和下载任务相对单价较高，特别是下载任务每个都是1块钱或者更高。
    </div>
    <div class="title-xx">
      14、为了方便大家做任务，我们把任务分为了普通投票、注册任务和下载任务，并且规范的接单价格，较复杂的任务比如注册和投票任务价格会很高，可根据自己的喜好选择不同的任务类型。不同的任务类型可以换着做，不至于太单调
    </div>
    <div class="title-xx">
      15、平台开通同一个任务可多次做的功能，比如你有3个微信号，那么同一个任务同一个账号你可以用分别用三个微信号做了三次后上传三个截屏，特别强调，如果发现同一个图片重复上传将封账号，有不明白的联系客服QQ咨询，目前仅限信誉高的账号做，新注册的朋友赶快做任务，质量度好的就能接多次任务了。注册多个账号的可以用一个账号做任务了
    </div>
    <div class="title-x">
      工资
    </div>
    <div class="title-xx">
      1、工资是隔天结算，佣金大于1元即可提现，比如今天晚上24点
    </div>
    <div>
      之前提现的工资，将在明天晚上24点之前结算完毕。
    </div>
    <div class="title-xx">
      2、单个任务一般0.2元到3元之间，根据任务的难易程度不等。
    </div>
    <div>
      操作熟练后每分钟可做2~5个任务
    </div>
    <div class="title-xx">
      3、严禁各种作弊形式，发行作弊账号被封，余额清零。
    </div>
    <div class="title-x">
      奖励
    </div>
    <div class="title-xx">
      推荐好友注册，获取高额推广奖励，活动推广期间，好友
    </div>
    <div class="title-xx">
      合格任务总收入的10%，从平台利润中拿出作为你的推广奖励，
    </div>
    <div class="title-xx">
      奖励永久有效。点击账户详情里，会看到属于自己的专属链接，
    </div>
    <div class="title-xx">
      发送给别人注册，他就是你的下线。
    </div>
    <div class="title-x">
      规则
    </div>
    <div class="title-xx">
      1、使用手机或平台在微信上做任务，一个任务一个微信号只能做一次，部分任务可每天投一次，平台有防作弊机制，一旦发现，永久封号佣金不退
    </div>
    <div class="title-xx">
      2、建议使用UC浏览器打开平台接任务查看任务要求，然后去微信里根据任务。要求做任务，不要在QQ或者微信里打开平台上传图片，兼容性不好
    </div>
    <div class="title-xx">
      3、在微信里做任务的时候一定记住需要快速截屏，系统审核只认做成功提示，其他提示不合格无佣金，如果是闪图显示特别快的，可再次提交一次截屏
    </div>
    <div class="title-xx">
      4、平台对于注册多个账号用一个任务截屏的用户是0容忍发现一个封一个，
    </div>
    <div class="title-xx">
      请勿做得不偿失的事情。
    </div>
  </div>
</div>
</body>
<script><%- typeof stateData === 'undefined'?'':stateData%></script>

<!-- build:js -->
<!-- <script type="text/javascript" src="/bundle.js"></script> -->
<!-- endbuild -->
</html>